
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title1" [data]="paddingEle"></app-common-helper-class>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title2" [data]="marginEle"></app-common-helper-class>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title3" [data]="paddingLeft"></app-common-helper-class>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title4" [data]="paddingRight"></app-common-helper-class>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title5" [data]="paddingTop"></app-common-helper-class>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title6" [data]="paddingBottom"></app-common-helper-class>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title7" [data]="marginLeft"></app-common-helper-class>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title8" [data]="marginRight"></app-common-helper-class>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title9" [data]="marginTop"></app-common-helper-class>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title10" [data]="marginBottom"></app-common-helper-class>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title11" [data]="verticalAlign"></app-common-helper-class>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title12" [data]="imageSizes"></app-common-helper-class>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title13" [data]="textColor"></app-common-helper-class>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title14" [data]="badgeColor"></app-common-helper-class>
        </div>
        <div class="col-xl-6">
            <app-common-helper-class [title]="title15" [data]="backgroundColor"></app-common-helper-class>
        </div>
        <div class="col-xl-6">
            <app-common-helper-class [title]="title16" [data]="buttonColor"></app-common-helper-class>
        </div>
        <div class="col-xl-6">
            <app-common-helper-class [title]="title17" [data]="borderRadius"></app-common-helper-class>
            <app-common-helper-class [title]="title18" [data]="fontWeight"></app-common-helper-class>
            <app-common-helper-class [title]="title19" [data]="fontStyle"></app-common-helper-class>
            <app-common-helper-class [title]="title20" [data]="float"></app-common-helper-class>
            <app-common-helper-class [title]="title21" [data]="overflow"></app-common-helper-class>
        </div>
        <div class="col-xl-6">
            <app-common-helper-class [title]="title22" [data]="fontSize"></app-common-helper-class>
        </div>
        <div class="col-xl-6">
            <app-borders-color></app-borders-color>
        </div>
        <div class="col-xl-6">
            <app-border-width></app-border-width>
            <app-position></app-position>
            <app-button-outline></app-button-outline>
        </div>
    </div>
</div>