<div class="container-fluid general-widget">
  <div class="row">
    <div class="col-sm-12">
      <app-earning-data></app-earning-data>
    </div>
    <div class="col-xl-6 xl-100 box-col-12">
      <app-calender></app-calender>
    </div>
    <div class="col-xl-3 xl-50 col-sm-6 box-col-6">
      <app-clock></app-clock>
    </div>
    <div class="col-xl-3 xl-50 col-sm-6 box-col-6">
      <app-weather></app-weather>
    </div>
    <div class="col-sm-12">
      <app-widgets-joins></app-widgets-joins>
    </div>
    <div class="col-xl-4 box-col-4">
      <app-testimonial></app-testimonial>
    </div>
    <div class="col-xl-4 col-md-6 box-col-4">
      <app-activity></app-activity>
    </div>
    <div class="col-xl-4 col-md-6 box-col-4">
      <app-profile-details></app-profile-details>
    </div>
    <div class="col-sm-12">
      <app-social-widget></app-social-widget>
    </div>

    <div class="col-sm-12">
      <app-browser-widget></app-browser-widget>
    </div>

    <div class="col-xl-6 box-col-12">
      <app-product-cart></app-product-cart>
    </div>

    <div class="col-xl-6 box-col-12">
      <app-employee-status></app-employee-status>
    </div>

    <div class="col-sm-12">
      <app-height-equal></app-height-equal>
    </div>
  </div>
</div>
