<div class="card overflow-visible">
   <div class="card-header pb-0">
     <h5>Item Bullets</h5>
   </div>
   <div class="card-body">
     <div class="border nav-list">
       <ul class="nav-list-disc">
         <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Dashboard</span></a></li>
         <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Widgets</span></a></li>
         <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Base</span></a></li>
         <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Forms</span></a></li>
         <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Tables</span></a></li>
       </ul>
     </div>
     <div class="onhover-dropdown navs-dropdown">
       <button class="btn btn-primary onhover-dropdown">Dropdown example <i class="icon-arrow-down ms-1"></i></button>
       <div class="onhover-show-div">
         <div class="nav-list">
           <ul class="nav-list-disc">
             <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Dashboard</span></a></li>
             <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Widgets</span></a></li>
             <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Base</span></a></li>
             <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Forms</span></a></li>
             <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i><span> Tables</span></a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>