
    <div class="card">
      <div class="card-header pb-0">
        <div class="header-top d-sm-flex justify-content-between align-items-center">
          <h5>Top Selling Product</h5>
          <div class="center-content">
            <ul class="week-date">
              <li class="font-primary">Today</li>
              <li>Month</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="media"><img class="img-fluid" src="assets/images/dashboard-2/9.png" alt="">
          <div class="media-body"><a href="ecommerce/product-page">
              <h6>Trending Nike shoes</h6></a>
            <p>New Offer Only $126.00</p>
            <ul class="rating-star">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
          </div><a class="btn btn-iconsolid" href="ecommerce/cart"><i class="icon-bag"></i></a>
        </div>
      </div>
    </div>
  

  