<div class="container-fluid chart-widget">
  <app-chart-widgets></app-chart-widgets>
  <div class="row">
    <div class="col-xl-7">
      <app-marketing-expense></app-marketing-expense>
    </div>
    <div class="col-xl-5">
      <app-total-earning></app-total-earning>
    </div>
  </div>
  <div class="row">
    <div class="xl-50 col-xl-7 box-col-6">
      <app-live-product></app-live-product>
    </div>
    <div class="xl-50 col-xl-5 box-col-6">
      <app-turnover></app-turnover>
    </div>
    <div class="xl-50 col-xl-5 box-col-6">
      <app-monthly-sales></app-monthly-sales>
    </div>
    <div class="xl-50 col-xl-7 box-col-6">
      <app-uses></app-uses>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 box-col-12">
      <app-browser-user></app-browser-user>
    </div>
  </div>
</div>
