<div class="row">
  <div class="col-xl-6 col-50 box-col-6 des-xl-50">
    <div class="card">
      <div class="card-header">
        <div class="header-top d-sm-flex align-items-center">
          <h5>Growth Overview</h5>
          <div class="center-content">
            <p class="d-flex align-items-center"><i class="toprightarrow-primary fa fa-arrow-up me-2"></i>80% Growth</p>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <div id="chart-dashbord">
          <apx-chart [chart]="growthChart.chart" [plotOptions]="growthChart.plotOptions" [colors]="growthChart.colors"
            [dataLabels]="growthChart.dataLabels" [labels]="growthChart.labels" [stroke]="growthChart.stroke"
            [legend]="growthChart.legend" [series]="growthChart.series" [responsive]="growthChart.responsive">
          </apx-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-50 box-col-6 des-xl-50">
    <div class="card latest-update-sec">
      <div class="card-header">
        <div class="header-top d-sm-flex align-items-center">
          <h5>Latest activity</h5>
          <div class="center-content">
            <ul class="week-date">
              <li class="font-primary">Today</li>
              <li>Month </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordernone">
            <tbody>
              <tr *ngFor="let item of latestActivity">
                <td>
                  <div class="media">
                    <svg-icon src={{item.icon}}></svg-icon>
                    <div class="media-body"><span>{{item.name}}</span>
                      <p>{{item.subtitle}}</p>
                    </div>
                  </div>
                </td>
                <td><a href="/" target="_blank">Edit</a></td>
                <td><a href="/" target="_blank">Delete</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12 recent-order-sec">
    <app-recent-orders></app-recent-orders>
  </div>
</div>