<div class="card">
   <div class="card-header">
       <h5>Border Width</h5>
   </div>
   <div class="card-body">
       <pre class="helper-classes">
.border-1 &#123;
border-width: 1px !important;
&#125;
.border-2 &#123;
border-width: 2px !important;
&#125;
.border-3 &#123;
border-width: 3px !important;
&#125;
.border-4 &#123;
border-width: 4px !important;
&#125;
.border-5 &#123;
border-width: 5px !important;
&#125;
.border-6 &#123;
border-width: 6px !important;
&#125;
.border-7 &#123;
border-width: 7px !important;
&#125;
.border-8 &#123;
border-width: 8px !important;
&#125;
.border-9 &#123;
border-width: 9px !important;
&#125;
.border-10 &#123;
border-width: 10px !important;
&#125;
   </pre>
   </div>
</div>