<div class="card">
  <div class="card-header pb-0">
    <h5>JavaScript behavior</h5>
  </div>
  <div class="card-body vertical-tab">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Home</a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-sm-12">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                aria-labelledby="list-home-list">
                1. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                the
                software like Aldus PageMaker including versions of Lorem Ipsum.</div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Profile</a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-sm-12">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                aria-labelledby="list-home-list">
                2. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type
                and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap

                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Message</a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-sm-12">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                aria-labelledby="list-home-list">
                3. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap

                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink>Settings</a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-sm-12">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                aria-labelledby="list-home-list">
                4. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                the
                software like Aldus PageMaker including versions of Lorem Ipsum.</div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>