<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <app-default-list></app-default-list>
    </div>
    <div class="col-md-6">
      <app-btn-list></app-btn-list>
    </div>
    <div class="col-md-6">
     <app-flush-style></app-flush-style>
    </div>
    <div class="col-md-6">
     <app-class-list></app-class-list>
    </div>
    <div class="col-sm-12 col-xl-12">
      <app-with-badges></app-with-badges>
    </div>
    <div class="col-sm-12 col-xl-12">
     <app-custom-list></app-custom-list>
    </div>
    <div class="col-sm-12 col-xl-12">
     <app-js-list></app-js-list>
    </div>
    <div class="col-sm-12 col-xl-12">
      <app-icon-list></app-icon-list>
    </div>
    <div class="col-md-6">
      <app-img-list></app-img-list>
    </div>
    <div class="col-md-6">
      <app-rounded-img-list></app-rounded-img-list>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->