<div class="container-fluid dashboard-default-sec">
    <div class="row">
      <div class="col-xl-5 box-col-12 des-xl-100"> 
       <app-profile-greeting></app-profile-greeting>
      </div>
      <div class="col-xl-7 box-col-12 des-xl-100 dashboard-sec">
       <app-income-card></app-income-card>
      </div>
      <div class="col-xl-8 box-col-12 des-xl-100">
       <app-activity-section></app-activity-section>
      </div>
      <div class="col-xl-4 box-col-12 des-xl-100">
       <app-recent-order></app-recent-order>
      </div>
    </div>
  </div>