<div class="card">
   <div class="card-header">
   <h5>Activity Log</h5>
   </div>
   <div class="card-body pt-0">
      <div class="activity-log">
         <div class="my-activity" *ngFor="let d of todays">
            <h6 class="f-w-600">{{d.title}}</h6> 
            <ng-container *ngFor="let c of d.today">
               <p>
                  <span>
                     <app-feather-icons class="m-r-10" [icon]=c.icon></app-feather-icons>
                  </span>
                  {{c.data}}
               </p>
            </ng-container>
         </div>
      </div>
   </div>
</div>