 
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="user-profile">
    <div class="row">
      <div class="col-sm-6">
        <app-common-avatars [title]="title1" [data]="avatarData" ></app-common-avatars>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Status Indicator</h5>
          </div>
          <div class="card-body avatar-showcase">
            <div class="avatars">
              <div class="avatar" *ngFor="let item of avatarsData1">
                <img class="{{item.imgClass}} rounded-circle" src={{item.img}} alt="#">
                <div class="status {{item.statusClass}} bg-success"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <app-common-avatars [title]="title2" [data]="avatarsData2" ></app-common-avatars>
      </div>

      <div class="col-xl-6">
        <app-common-avatars [title]="title3" [data]="avatarsData3" ></app-common-avatars>
      </div>
      
      <div class="col-sm-6">
        <app-groups></app-groups>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->