<div class="card o-hidden">
  <div class="card-header pb-0">
    <h5>Marketing Expenses</h5>
  </div>
  <div class="bar-chart-widget">
    <div class="bottom-content card-body">
      <div class="row">
        <div class="col-12">
          <div id="chart-widget4">
            <apx-chart [chart]="marketing.chart" [dataLabels]="marketing.dataLabels" 
              [xaxis]="marketing.xaxis" [yaxis]="marketing.yaxis"  [fill]="marketing.fill" [plotOptions]="marketing.plotOptions"
              [colors]="marketing.colors" [series]="marketing.series" [tooltip]="marketing.tooltip">
            </apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>