<div class="card">
    <div class="card-header">
      <div class="header-top d-sm-flex justify-content-between align-items-center">
        <h5>Yearly growth</h5>
        <div class="center-content">                                  
          <p class="d-sm-flex align-items-center"><span class="m-r-10"><i class="toprightarrow-primary fa fa-arrow-up m-r-10"></i>$9657.55k </span>86% more then last year</p>
        </div>
      </div>
    </div>
    <div class="card-body p-0 chart-block">
      <div id="chart-yearly-growth-dash-2">
        <apx-chart  [series]="yearly.series" [chart]="yearly.chart" [plotOptions]="yearly.plotOptions" [dataLabels]="yearly.dataLabels" [xaxis]="yearly.xaxis" 
                [yaxis]="yearly.yaxis" [colors]="yearly.colors" ></apx-chart>
      </div>
    </div>
  </div>