<div class="container-fluid">
   <div class="row">
     <div class="col-md-6">
       <app-default-nav></app-default-nav>
     </div>
     <div class="col-md-6">
       <app-item-bullets></app-item-bullets>
     </div>
     <div class="col-lg-6">
       <app-section-separator></app-section-separator>
     </div>
     <div class="col-lg-6">
       <app-active-disabled-link></app-active-disabled-link>
     </div>
     <div class="col-xl-6 xl-40 col-lg-12">
      <app-inline-nav></app-inline-nav>
     </div>
     <div class="col-xl-6 xl-60 col-lg-12">
       <app-sub-nav></app-sub-nav>
     </div>
   </div>
 </div>