<div class="card">
   <div class="card-header">
       <h5>Button Outline</h5>
   </div>
   <div class="card-body">
       <pre class="helper-classes">
.btn-outline-primary &#123;
border-color: #7e37d8;
color: #7e37d8;
background-color: transparent;
&#125;
.btn-outline-secondary &#123;
border-color: #fe80b2;
color: #fe80b2;
background-color: transparent;
&#125;
.btn-outline-success &#123;
border-color: #80cf00;
color: #80cf00;
background-color: transparent;
&#125;
.btn-outline-danger &#123;
border-color: #fd517d;
color: #fd517d;
background-color: transparent;
&#125;
.btn-outline-info &#123;
border-color: #06b5dd;
color: #06b5dd;
background-color: transparent;
&#125;
.btn-outline-light &#123;
border-color: #f8f5fd;
color: #f8f5fd;
background-color: transparent;
&#125;
.btn-outline-dark &#123;
border-color: #2c323f;
color: #2c323f;
background-color: transparent;
&#125;
.btn-outline-warning &#123;
border-color: #ffc717;
color: #ffc717;
background-color: transparent;
&#125;
</pre>
   </div>
</div>