<div class="card overflow-visible">
   <div class="card-header pb-0">
     <h5>Default Nav</h5>
   </div>
   <div class="card-body">
     <ul class="icon-lists border navs-icon">
       <li><a href="javascript:void(0)"><app-feather-icons [icon]="'home'"></app-feather-icons><span> Dashboard</span></a></li>
       <li><a href="javascript:void(0)"><app-feather-icons [icon]="'airplay'"></app-feather-icons><span> Widgets</span></a></li>
       <li><a href="javascript:void(0)"><app-feather-icons [icon]="'box'"></app-feather-icons><span> Base</span></a></li>
       <li><a href="javascript:void(0)"><app-feather-icons [icon]="'file-text'"></app-feather-icons><span> Forms</span></a></li>
       <li><a href="javascript:void(0)"><app-feather-icons [icon]="'server'"></app-feather-icons><span> Tables</span></a></li>
     </ul>
     <div class="onhover-dropdown navs-dropdown">
       <button class="btn btn-primary onhover-dropdown">Dropdown example <i class="icon-arrow-down ms-1"></i></button>
       <div class="onhover-show-div">
         <ul class="icon-lists navs-icon">
           <li><a href="javascript:void(0)"><app-feather-icons [icon]="'home'"></app-feather-icons><span> Dashboard</span></a></li>
           <li><a href="javascript:void(0)"><app-feather-icons [icon]="'airplay'"></app-feather-icons><span> Widgets</span></a></li>
           <li><a href="javascript:void(0)"><app-feather-icons [icon]="'box'"></app-feather-icons><span> Base</span></a></li>
           <li><a href="javascript:void(0)"><app-feather-icons [icon]="'file-text'"></app-feather-icons><span> Forms</span></a></li>
           <li><a href="javascript:void(0)"><app-feather-icons [icon]="'server'"></app-feather-icons><span> Tables</span></a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
