<div class="card">
  <div class="mobile-clock-widget">
    <div class="bg-svg">
      <svg-icon src="assets/images/svg/widgets/clock.svg"></svg-icon>
    </div>
    <div>
      <ul class="clock" id="clock">
        <li class="hour" id="hour"></li>
        <li class="min" id="min"></li>
        <li class="sec" id="sec"></li>
      </ul>
      <div class="date f-24 mb-2" id="date">{{ today | date }}</div>
      <div>
        <p class="m-0 f-14 text-light">kolkata, India</p>
      </div>
    </div>
  </div>
</div>
