<div class="donut-chart-widget">
  <div class="card">
    <div class="card-header pb-0">
      <h5>Browser Uses</h5>
    </div>
    <div class="card-body">
      <div id="chart-widget13">
        <apx-chart [chart]="browserUser.chart" [plotOptions]="browserUser.plotOptions" [colors]="browserUser.colors"
          [title]="browserUser.title" [xaxis]="browserUser.xaxis" [yaxis]="browserUser.yaxis"
          [series]="browserUser.series">
        </apx-chart>
      </div>
    </div>
  </div>
</div>