<div class="container-fluid accordian-page">
   <div class="row">
     <div class="col-sm-12 col-md-6 col-xl-6">
       <app-basic-accordion></app-basic-accordion>
     </div>
     <div class="col-sm-12 col-md-6 col-xl-6">
      <app-open-at-one-time></app-open-at-one-time>
     </div>
     <div class="col-sm-12 col-md-6 col-xl-6">
       <app-toggle-panels></app-toggle-panels>
     </div>
     <div class="col-sm-12 col-md-6 col-xl-6">
      <app-collapse-accordion></app-collapse-accordion>
     </div>
   </div>
 </div> 