<div class="row">
    <div class="col-xl-12 box-col-6 des-xl-50">
      <div class="card">
        <div class="card-header">
          <div class="header-top d-sm-flex align-items-center">
            <h5>User Activations</h5>
            <div class="center-content">
              <p>Yearly User 24.65k</p>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div id="user-activation-dash-2">
            <apx-chart [series]="bar.series" [chart]="bar.chart" [dataLabels]="bar.dataLabels"
              [plotOptions]="bar.plotOptions" [yaxis]="bar.yaxis" [stroke]="bar.stroke" [fill]="bar.fill"
               [xaxis]="bar.xaxis" [colors]="bar.colors"></apx-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12 box-col-6 des-xl-50">
      <div class="card trasaction-sec overflow-hidden">
        <div class="card-header">
          <div class="header-top d-sm-flex align-items-center">
            <h5>Transaction</h5>
            <div class="center-content">
              <p>5878 Successfull Transaction</p>
            </div>
          </div>
        </div>
        <div class="transaction-totalbal">
          <h2> $2,09,352k <span class="ms-3"> <a class="btn-arrow arrow-secondary" href="javascript:void(0)"><i class="toprightarrow-secondary fa fa-arrow-up me-2"></i>98.54%</a></span></h2>
          <p>Total Balance</p>
        </div>
        <div class="card-body p-0">
          <div id="chart-3dash">
            <apx-chart [series]="Transaction.series" [chart]="Transaction.chart" [xaxis]="Transaction.xaxis"
            [stroke]="Transaction.stroke" [dataLabels]="Transaction.dataLabels" [yaxis]="Transaction.yaxis"
            [labels]="Transaction.labels" [legend]="Transaction.legend" [tooltip]="Transaction.tooltip" [colors]="Transaction.colors" [responsive]="Transaction.responsive"></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>