<div>
  <div class="card card-activity">
    <div
      class="card-header pb-0 d-flex justify-content-between align-items-center"
    >
      <h5 class="text-uppercase">Recent Activity</h5>
    </div>
    <div class="card-body">
      <ul class="crm-activity">
        <li class="media" *ngFor="let data of recentActivityData">
          <span class="me-3 font-primary">{{ data.title }}</span>
          <div class="align-self-center media-body">
            <h6 class="mt-0">{{ data.subtitle }}</h6>
            <ul class="dates">
              <li>{{ data.date }}</li>
              <li>{{ data.time }}</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
