<div class="card height-equal overflow-visible">
   <div class="card-header pb-0">
     <h5>Active and Disabled Links</h5>
   </div>
   <div class="card-body">
     <ul class="icon-lists border navs-icon">
       <li><a class="active" href="javascript:void(0)"><app-feather-icons [icon]="'home'"></app-feather-icons><span> Dashboard</span></a></li>
       <li><a href="javascript:void(0)"><app-feather-icons [icon]="'airplay'"></app-feather-icons><span> Widgets</span></a></li>
       <li><a class="disabled" href="javascript:void(0)"><app-feather-icons [icon]="'box'"></app-feather-icons><span> Base</span></a></li>
       <li><a href="javascript:void(0)"><app-feather-icons [icon]="'file-text'"></app-feather-icons><span> Forms</span></a></li>
       <li><a href="javascript:void(0)"><app-feather-icons [icon]="'server'"></app-feather-icons><span> Tables</span></a></li>
       <li><a href="javascript:void(0)"><app-feather-icons [icon]="'credit-card'"></app-feather-icons><span> Cards</span></a></li>
       <li><a class="disabled" href="javascript:void(0)"><app-feather-icons [icon]="'sliders'"></app-feather-icons><span> Timeline</span></a></li>
       <li><a href="javascript:void(0)"><app-feather-icons [icon]="'bar-chart'"></app-feather-icons><span> Charts</span></a></li>
       <li><a href="javascript:void(0)"><app-feather-icons [icon]="'map'"></app-feather-icons><span> Maps</span></a></li>
       <li><a href="javascript:void(0)"><app-feather-icons [icon]="'git-pull-request'"></app-feather-icons><span> Editors</span></a></li>
     </ul>
     <div class="onhover-dropdown navs-dropdown">
       <button class="btn btn-primary onhover-dropdown">Dropdown example <i class="icon-arrow-down ms-1"></i></button>
       <div class="onhover-show-div separator">
         <ul class="icon-lists navs-icon">
           <li><a class="active" href="javascript:void(0)"><app-feather-icons [icon]="'home'"></app-feather-icons><span> Dashboard</span></a></li>
           <li><a href="javascript:void(0)"><app-feather-icons [icon]="'airplay'"></app-feather-icons><span> Widgets</span></a></li>
           <li><a class="disabled" href="javascript:void(0)"><app-feather-icons [icon]="'box'"></app-feather-icons><span> Base</span></a></li>
           <li><a href="javascript:void(0)"><app-feather-icons [icon]="'file-text'"></app-feather-icons><span> Forms</span></a></li>
           <li><a href="javascript:void(0)"><app-feather-icons [icon]="'server'"></app-feather-icons>><span> Tables</span></a></li>
           <li><a href="javascript:void(0)"><app-feather-icons [icon]="'credit-card'"></app-feather-icons><span> Cards</span></a></li>
           <li><a class="disabled" href="javascript:void(0)"><app-feather-icons [icon]="'sliders'"></app-feather-icons><span> Timeline</span></a></li>
           <li><a href="javascript:void(0)"><app-feather-icons [icon]="'bar-chart'"></app-feather-icons><span> Charts</span></a></li>
           <li><a href="javascript:void(0)"><app-feather-icons [icon]="'map'"></app-feather-icons><span> Maps</span></a></li>
           <li><a href="javascript:void(0)"><app-feather-icons [icon]="'git-pull-request'"></app-feather-icons><span> Editors</span></a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>