 
<div class="container-fluid">
   <div class="row">
     <ng-container *ngFor="let card of creativeCard">
       <div class="col-sm-12 col-xl-6">
         <div class="card {{card.cardClass}}">
           <div class="card-header {{card.headerClass}}">
             <h5>{{card.title}}</h5>
           </div>
           <div class="card-body">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
           </div>
         </div>
       </div>
     </ng-container>
   </div>
 </div>