<div class="card">
   <div class="card-header">
       <h5>All Borders Color</h5>
   </div>
   <div class="card-body">
       <pre class="helper-classes">
.b-primary &#123;
border: 1px solid #7e37d8 !important;
&#125;
.b-t-primary &#123;
border-top: 1px solid #7e37d8 !important;
&#125;
.b-b-primary &#123;
border-bottom: 1px solid #7e37d8 !important;
&#125;
.b-l-primary &#123;
border-left: 1px solid #7e37d8 !important;
&#125;
.b-r-primary &#123;
border-right: 1px solid #7e37d8 !important;
&#125;
.b-secondary &#123;
border: 1px solid #fe80b2 !important;
&#125;
.b-t-secondary &#123;
border-top: 1px solid #fe80b2 !important;
&#125;
.b-b-secondary &#123;
border-bottom: 1px solid #fe80b2 !important;
&#125;
.b-l-secondary &#123;
border-left: 1px solid #fe80b2 !important;
&#125;
.b-r-secondary &#123;
border-right: 1px solid #fe80b2 !important;
&#125;
.b-success &#123;
border: 1px solid #80cf00 !important;
&#125;
.b-t-success &#123;
border-top: 1px solid #80cf00 !important;
&#125;
.b-b-success &#123;
border-bottom: 1px solid #80cf00 !important;
&#125;
.b-l-success &#123;
border-left: 1px solid #80cf00 !important;
&#125;
.b-r-success &#123;
border-right: 1px solid #80cf00 !important;
&#125;
.b-danger &#123;
border: 1px solid #fd517d !important;
&#125;
.b-t-danger &#123;
border-top: 1px solid #fd517d !important;
&#125;
.b-b-danger &#123;
border-bottom: 1px solid #fd517d !important;
&#125;
.b-l-danger &#123;
border-left: 1px solid #fd517d !important;
&#125;
.b-r-danger &#123;
border-right: 1px solid #fd517d !important;
&#125;
.b-info &#123;
border: 1px solid #06b5dd !important;
&#125;
.b-t-info &#123;
border-top: 1px solid #06b5dd !important;
&#125;
.b-b-info &#123;
border-bottom: 1px solid #06b5dd !important;
&#125;
.b-l-info &#123;
border-left: 1px solid #06b5dd !important;
&#125;
.b-r-info &#123;
border-right: 1px solid #06b5dd !important;
&#125;
.b-light &#123;
border: 1px solid #f8f5fd !important;
&#125;
.b-t-light &#123;
border-top: 1px solid #f8f5fd !important;
&#125;
.b-b-light &#123;
border-bottom: 1px solid #f8f5fd !important;
&#125;
.b-l-light &#123;
border-left: 1px solid #f8f5fd !important;
&#125;
.b-r-light &#123;
border-right: 1px solid #f8f5fd !important;
&#125;
.b-dark &#123;
border: 1px solid #2c323f !important;
&#125;
.b-t-dark &#123;
border-top: 1px solid #2c323f !important;
&#125;
.b-b-dark &#123;
border-bottom: 1px solid #2c323f !important;
&#125;
.b-l-dark &#123;
border-left: 1px solid #2c323f !important;
&#125;
.b-r-dark &#123;
border-right: 1px solid #2c323f !important;
&#125;
.b-warning &#123;
border: 1px solid #ffc717 !important;
&#125;
.b-t-warning &#123;
border-top: 1px solid #ffc717 !important;
&#125;
.b-b-warning &#123;
border-bottom: 1px solid #ffc717 !important;
&#125;
.b-l-warning &#123;
border-left: 1px solid #ffc717 !important;
&#125;
.b-r-warning &#123;
border-right: 1px solid #ffc717 !important;
&#125;
   </pre>
   </div>
</div>